<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    A 28-year-old Brazilian, currently living in The Netherlands. I'm a FullStack developer focusing on Spring Boot and Vuejs frameworks.

    I have been in love with technology since I was a teenager when I watched my father repair computers. I started my career as an intern in computer maintenance and also software testing. I realized that software development was a challenge for me, so why not accepted the challenge? In Brazil I worked with PHP and MySQL database.

    I've graduation in Computer Information Systems in a private college and also technical course in computer science, both performed in Brazil, by the Federal Institute of Education and Technology (This technical course was held in conjunction with high school, lasting 3 years).
</div>